.scroll-text {
    background: #2f3990;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

.border {
    border: 3px solid #2f3990;
    box-sizing: border-box; 
}

.image-container {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between; 
    gap: 5px;
    flex-wrap: wrap; 
}

.image-container img {
    width: 100%; 
    max-width: 32.5%; 
    border: 5px solid #2f3990;
    object-fit: cover; 
    box-sizing: border-box;
}

.text-background {
    background-color: #0f0f73;
    color: white;
    font-size:20px;
    padding: 10px;
}

table {
    width: 100%;
}

th, td {
    border: 2px solid #0f0f73;
}



